<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross" version="4.0.0-beta3" targetFramework="wp81" />
  <package id="MvvmCross.HotTuna.Binding" version="4.0.0-beta3" targetFramework="wp81" />
  <package id="MvvmCross.HotTuna.CrossCore" version="4.0.0-beta3" targetFramework="wp81" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="4.0.0-beta3" targetFramework="wp81" />
  <package id="MvvmCross.HotTuna.Plugin.PictureChooser" version="3.5.1" targetFramework="wp81" />
  <package id="MvvmCross.HotTuna.Plugin.SQLitePCL" version="4.0.0-beta4" targetFramework="wp81" />
  <package id="MvvmCross.HotTuna.StarterPack" version="4.0.0-beta3" targetFramework="wp81" />
  <package id="SQLite.Net.Async-PCL" version="3.0.5" targetFramework="wp81" />
  <package id="SQLite.Net-PCL" version="3.0.5" targetFramework="wp81" />
  <package id="sqlite-net-wp8" version="3.8.5" targetFramework="wp81" />
</packages>